{% extends 'login.html.twig' %}

{% block body %}
    <div class="card card-form">
        <div class="card-header">
            <h1>Login</h1>
        </div>
        <div class="card-body">
            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <form action="{{ path('admin') }}" method="post">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="_password" class="form-control" />
                </div>

                {#
                    If you want to control the URL the user
                    is redirected to on success (more details below)
                    <input type="hidden" name="_target_path" value="/account" />
                #}

                <button type="submit" class="btn btn-primary">login</button>
            </form>
        </div>
    </div>
{% endblock %}
