{% extends 'loggedIn.html.twig' %}

{% block body %}
    <div class="card card-form">
        <div class="card-header">
            <h1>Product edit</h1>
        </div>
        <div class="card-body">
            {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
            {{ form_end(edit_form) }}
        </div>
        <div class="card-footer">
            <a href="{{ path('category_index') }}" class="btn btn-secondary">Back to the list</a>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}
