{% extends 'loggedIn.html.twig' %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h1>Categories list</h1>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Icon</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                    <tr>
                        <td><a href="{{ path('category_show', { 'id': category.id }) }}">{{ category.id }}</a></td>
                        <td>{{ category.name }}</td>
                        <td>{{ category.icon }}</td>
                        <td>
                            <a href="{{ path('category_show', { 'id': category.id }) }}" class="btn btn-primary">show</a>
                            <a href="{{ path('category_edit', { 'id': category.id }) }}" class="btn btn-warning">edit</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <a href="{{ path('category_new') }}" class="btn btn-success">Create a new category</a>
        </div>
    </div>
{% endblock %}
