{% extends 'loggedIn.html.twig' %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h1>Category creation</h1>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
                {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
        <div class="card-footer">
            <a href="{{ path('category_index') }}" class="btn btn-secondary">Back to the list</a>
        </div>
    </div>
{% endblock %}
