{% extends 'loggedIn.html.twig' %}

{% block body %}
    <div class="card card-form">
        <div class="card-header">
            <h1>Category</h1>
        </div>
        <div class="card-body">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ category.id }}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{ category.name }}</td>
                    </tr>
                    <tr>
                        <th>Icon</th>
                        <td>{{ category.icon }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <a href="{{ path('category_index') }}" class="btn btn-secondary">Back to the list</a>
            <a href="{{ path('category_edit', { 'id': category.id }) }}" class="btn btn-warning">Edit</a>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </div>
    </DIV>
{% endblock %}
