{% extends 'loggedIn.html.twig' %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h1>Users list</h1>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Username</th>
                        <th scope="col">Password</th>
                        <th scope="col">Email</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td scope="row"><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.password }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <a href="{{ path('user_show', { 'id': user.id }) }}" class="btn btn-primary">show</a>
                            <a href="{{ path('user_edit', { 'id': user.id }) }}" class="btn btn-warning">edit</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <a href="{{ path('user_new') }}" class="btn btn-success">Create a new user</a>
        </div>
    </div>

{% endblock %}
