{% extends 'loggedIn.html.twig' %}

{% block body %}
    <div class="card card-form">
        <div class="card-header">
            <h1>User creation</h1>
        </div>
        <div class="card-body">
            {{ form_start(form, {'attr': {'id': 'userbundle_user'} }) }}
                {{ form_row(form.username, {'attr': {'class': 'form-control'} }) }}
                {{ form_row(form.email, {'attr': {'class': 'form-control'} }) }}
                {{ form_row(form.plainPassword.first, {'attr': {'class': 'form-control'} }) }}
                {{ form_row(form.plainPassword.second, {'attr': {'class': 'form-control'} }) }}
                {{ form_row(form.save) }}
            {{ form_end(form) }}
        </div>
        <div class="card-footer">
            <a href="{{ path('user_index') }}" class="btn btn-secondary">Back to the list</a>
        </div>
    </div>
{% endblock %}
