{% extends 'loggedIn.html.twig' %}

{% block body %}
    <div class="card card-form">
        <div class="card-header">
            <h1>Users</h1>
        </div>
        <div class="card-body">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ user.id }}</td>
                    </tr>
                    <tr>
                        <th>Username</th>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <th>Password</th>
                        <td>{{ user.password }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ user.email }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <a href="{{ path('user_index') }}" class="btn btn-secondary">Back to the list</a>

            <a href="{{ path('user_edit', { 'id': user.id }) }}" class="btn btn-warning">Edit</a>

            {{ form_start(delete_form) }}
                <input type="submit" value="Delete"  class="btn btn-danger">
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}
