/*
*
*   This file contains the custom styles
*
*/

.card {
    .card-header,
    .card-body,
    .card-footer {
        padding: 2rem 3rem;
        a {
            margin-right: 0.75rem;
        }
        form {
            display: inline-block;
        }
    }
    .card-body {
        min-width: 800px;
        form {
            width: 100%;
        }
    }
}

.loggedOut {
    .card {
        .card-header,
        .card-body,
        .card-footer {
            padding: 2rem 2.5rem;
        }
        &.product-item {
            a {
                text-decoration: none;
                color: inherit;
                &:hover,
                &:focus,
                &:active {
                    opacity: 0.6;
                }
            }
        }
        .card-body {
            min-width: unset;
        }
        .cat-icon {
            width: 1rem;
            height: 1rem;
            margin-right: 0.5rem;
        }
    }
}

.card-img-top {
    height: 8rem;
    background-size: cover;
    background-position: center;
}

#userbundle_user>div,
#shopbundle_product>div,
#shopbundle_category>div {
    margin-bottom: 1rem;
}

.btn {
    min-width: 100px;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1366px) {
    .container {
        max-width: fit-content;
        &.loggedOut {
            max-width: 1280px;
        }
    }
}