{% extends 'loggedOut.html.twig' %}

{% block body %}
    <div class="text-center py-5">
        <h1>Products list</h1>
    </div>
    <div class="row">
        {% for product in products %}
            <div class="col-md-4">
                <div class="card product-item">
                    <a href="{{ path('shop_product', { 'id': product.id }) }}">
                        <div style="background-image:url('{{ product.image }}')" class="card-img-top"></div>
                        <div class="card-body">
                            <h4>{{ product.name }}</h4>
                            <hr>
                            <p class="card-text"><img src="{{ product.category.getIcon() }}" class="cat-icon" >{{ product.category.getName() }}</p>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
