{% extends 'loggedIn.html.twig' %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h1>Products list</h1>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Image</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <td scope="row"><a href="{{ path('product_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.category.getName() }}</td>
                        <td>{{ product.image }}</td>
                        <td>
                            <a href="{{ path('product_show', { 'id': product.id }) }}" class="btn btn-primary">show</a>
                            <a href="{{ path('product_edit', { 'id': product.id }) }}" class="btn btn-warning">edit</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <a href="{{ path('product_new') }}" class="btn btn-success">Create a new product</a>
        </div>
    </div>
{% endblock %}
