{% extends 'loggedIn.html.twig' %}

{% block body %}
    <div class="card card-form">
        <div class="card-header">
            <h1>Product</h1>
        </div>
        <div class="card-body">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ product.id }}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{ product.name }}</td>
                    </tr>
                    <tr>
                        <th>Category</th>
                        <td>{{ product.category.getName() }}</td>
                    </tr>
                    <tr>
                        <th>Image</th>
                        <td>{{ product.image }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <a href="{{ path('product_index') }}" class="btn btn-secondary">Back to the list</a>
            <a href="{{ path('product_edit', { 'id': product.id }) }}" class="btn btn-warning">Edit</a>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}
