/*
*
*   This file contains the custom styles
*
*/
.card .card-header,
.card .card-body,
.card .card-footer {
  padding: 2rem 3rem; }
  .card .card-header a,
  .card .card-body a,
  .card .card-footer a {
    margin-right: 0.75rem; }
  .card .card-header form,
  .card .card-body form,
  .card .card-footer form {
    display: inline-block; }
.card .card-body {
  min-width: 800px; }
  .card .card-body form {
    width: 100%; }

.loggedOut .card .card-header,
.loggedOut .card .card-body,
.loggedOut .card .card-footer {
  padding: 2rem 2.5rem; }
.loggedOut .card.product-item a {
  text-decoration: none;
  color: inherit; }
  .loggedOut .card.product-item a:hover, .loggedOut .card.product-item a:focus, .loggedOut .card.product-item a:active {
    opacity: 0.6; }
.loggedOut .card .card-body {
  min-width: unset; }
.loggedOut .card .cat-icon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem; }

.card-img-top {
  height: 8rem;
  background-size: cover;
  background-position: center; }

#userbundle_user > div,
#shopbundle_product > div,
#shopbundle_category > div {
  margin-bottom: 1rem; }

.btn {
  min-width: 100px; }

@media (min-width: 576px) {
  .container {
    max-width: 540px; } }
@media (min-width: 768px) {
  .container {
    max-width: 720px; } }
@media (min-width: 992px) {
  .container {
    max-width: 960px; } }
@media (min-width: 1366px) {
  .container {
    max-width: fit-content; }
    .container.loggedOut {
      max-width: 1280px; } }

/*# sourceMappingURL=main.css.map */
